body {
	width: 100%;
	height: 100vh;
	background-image: url(imagenes/f4.jpg);
	background: #000000;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #00000086, #0000007e), url(imagenes/f4.jpg);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #00000085, #00000086), url(imagenes/f4.jpg);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
	background-size: 100%100%;
	margin: 0;
	padding: 0;
	height: 0;

	box-sizing: border-box;
}

nav {
	margin-top: 0;
	width: 100%;
	height: 15vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}

nav h1 {

	font-family: 'Comfortaa', cursive;
	color: #6198d786;
	font-size: 25px;
	padding-right: 10px;


}

nav i {
	font-size: 25px;
	color: #80f8e8;
	padding-right: 105px;

}




.inicio {
	overflow: scroll;
	width: 100%;
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

form {
	width: 350px;
	/* height: 280px; */
	background-color: none;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	border-top-left-radius: 100px;
	border-bottom-right-radius: 100px;
}


.logo {
	width: 90px;
	height: 90px;
	border: 2px solid rgba(255, 255, 255, 0.432);
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	border-radius: 50%;
	box-shadow: 0 0 20px #2181f0;


}

.logo i {
	font-size: 50px;
	text-shadow: 0 0 20px #134175;
	color: #004189;
}


form h1 {
	font-size: 30px;
	/* font-weight: 500; */
	color: #6199D7;
}

form input {
	font-size: 17px;
	width: 71%;
	outline: none;
	padding: 9px 15px;
	border-radius: 50px;
	margin-bottom: 15px;
	/* border: 2px solid #0a539765 ; */
	border: 2px solid #d5e1f09a;
	background: none;
	transition: .7s ease-out;
	color: #6199D7;
}

form input::placeholder {
	color: #6198d78f;
}

form input:focus {
	border: 2px solid #6198d79a;
}

form button {
	width: 80%;
	padding: 14px;
	border-radius: 50px;
	border: none;
	outline: none;
	margin-bottom: 10px;
	background-color: #004189;
	transition: .4s ease all;
	color: white;
}

form button:hover {
	transform: scale(1.1);
	background-color: #0E1634;
	cursor: pointer;
}

form a {
	font-size: 14px;
	color: #5f6c9c;
	text-align: center;

}

footer {
	width: 100%;
	height: 10vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

footer h3 {
	font-family: 'Comfortaa', cursive;
	margin-left: 30px;
	font-size: 15px;
	color: #eeeeee3a;
	font-weight: 300;
}